<?xml version="1.0"?>
<config>
    <modules>
        <Asoft_Categoryproducts>
            <version>1.0</version>
        </Asoft_Categoryproducts>
    </modules>
    <frontend>
        <routers>
            <categoryproducts>
                <use>standard</use>
                <args>
                    <module>Asoft_Categoryproducts</module>
                    <frontName>categoryproducts</frontName>
                </args>
            </categoryproducts>
        </routers>
    </frontend>
    <global>
        <blocks>
            <categoryproducts>
                <class>Asoft_Categoryproducts_Block</class>
            </categoryproducts>
        </blocks>
        <models>
            <categoryproducts>
                <class>Asoft_Categoryproducts_Model</class>
            </categoryproducts>
        </models>
    </global>
</config>